{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
        {% if user.is_authenticated %}
        {% if order and user == order.user%}

        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top"
                src="https://images.pexels.com/photos/260184/pexels-photo-260184.jpeg?cs=srgb&dl=celebration-ribbon-surprise-260184.jpg&fm=jpg"
                alt="Card image cap">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h3 class="card-title">Hello {{ order.user }}, this is your Order Confirmation</h3>
                <!-- Text -->
                <p class="card-text">make sure you keep the data, so you can track your order or
                    see if you qualify for a refund in case of any unfortunate event
                </p>
                <hr>
                <h4> Order Confirmation #: {{order.ref_code}} </h4>
                <hr>
                <h4> Ordered on: {{order.ordered_date}} </h4>
                <hr>
                <h4> Shipping to: </h4>
                <p>{{order.shipping_address.street_address}} {{order.shipping_address.apartment_address}}
                    {{order.shipping_address.country}} {{order.shipping_address.zip}}</p>
                <hr>
                <h4> Billing to: </h4>
                <p>{{order.billing_address.street_address}} {{order.billing_address.apartment_address}}
                    {{order.billing_address.country}} {{order.billing_address.zip}}</p>
                <h4>Order Status: </h4>
                {% if order.ordered %}
                <p>Ordered</p>
                {% elif order.being_delivered %}
                <p>Being delivered</p>
                {% elif order.recieved %}
                <p>Recieved</p>
                {% elif order.refund_requested %}
                <p>Refund requested</p>
                {% elif order.refund_granted %}
                <p>Refund granted</p>
                {% endif %}



                <!-- Button -->
                <div style="float: right;">
                    <a href="{% url 'core:home' %}" class="btn btn-primary">CONTINUE SHOPPING</a>
                    <!-- Button -->
                    <!-- <a href="javascript:(onclick='window.print();')" class="btn btn-primary">PRINT INFO</a> -->
                    <button class="btn btn-primary" onclick="printConfirmation()">PRINT INFO</button>
                </div>

            </div>

        </div>
        <!-- Card -->

        {% else %}
        <h2>No order to confirm</h2>
        <div style="float: right;">
            <a href="{% url 'core:home' %}" class="btn btn-primary">CONTINUE SHOPPING</a>
        </div>
        {% endif %}
        {% else %}
        <h2>You are not authenticated</h2>
        {% endif %}
    </div>
</main>
<script>
    function printConfirmation() {
        window.print();
    }
</script>
{% endblock content %}